<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<title>${key}</title>
<meta name="Description" content="${key}">
<meta name="Keywords" content="${key}">


<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		 
		       <a href = '${index_name}'>Сайт о разном модном и не очень.</a>		 
			   
		 </div>
		 <!-- End Header -->
		 
         <!-- Begin Faux Columns -->
		 <div id="faux">
		 
		       <!-- Begin Left Column -->
		       <div id="leftcolumn">
		           %for name,link in categories:
                        <a href="${link}">${name}</a><br />
		           %endfor
		       </div>
		       <!-- End Left Column -->
		 
		       <!-- Begin Right Column -->
		       <div id="rightcolumn">
		       
	                 
					 
					 <h1>${key}</h1>	 
					 
				     <p>
					 
					       <div class="text">${text}</div>	<br />

                           
                           <div class="links">
                                %for name, href in links:
                                    <a href="${href}">${name}</a><br />
                                %endfor
                           </div>	<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href = '${map_name}'>Карта сайта</a>
						   
					  </p>
		       
			   <div class="clear"></div>
			   
		       </div>
		       <!-- End Right Column -->
			   
			   <div class="clear"></div>
			   
         </div>	   
         <!-- End Faux Columns --> 
		 
   </div>
   <!-- End Wrapper -->
</body>
</html>
